{% extends 'clothes.html' %}


{% block content_2 %}

    <table align="center" cellpadding="10" width="80%" >
      <tr>
          <td align="center"><img src="https://st2.tsum.com/sig/6994d1b188f368656cd002333a8ef97f/width/1526/i/6b/8e/a5/07/6b8ea507-6e9c-39c8-bc23-652376fa8f2a.jpg" alt="куртка" width="170" height="250"></td>
          <td><b>Цена:</b> 10 000 р.</td>
          </tr>
    </table>
    <ul style="padding: 0; margin-left: 380px;">
      <li>Лаконичный дизайн и в меру свободный крой</li>
      <li>Кожа натуральная</li>
      <li>Размер XS</li>
      <li>Бесплатная доставка по России</li>

    </ul>
{% endblock %}