{% extends 'clothes.html' %}

{% block content_2 %}

    <table align="center" cellpadding="10" width="80%" >
      <tr>
          <td>
              <a href="/clothes/outerwear/item_1/">
                  <img src="https://st2.tsum.com/sig/6994d1b188f368656cd002333a8ef97f/width/1526/i/6b/8e/a5/07/6b8ea507-6e9c-39c8-bc23-652376fa8f2a.jpg" alt="куртка" width="120" height="200">
              </a>
          </td>
          <td><img src="https://st.tsum.com/btrx/i/13/27/96/28/01_1526.jpg?u=1680732901" alt="куртка" width="120" height="200"></td>
          <td><img src="https://st.tsum.com/btrx/i/13/09/81/97/01_1526.jpg?u=1673041427" alt="куртка" width="120" height="200"></td></tr>
      <tr><td>10 000 р.</td><td>12 000 р.</td><td>14 000 р.</td></tr>
    </table>
{% endblock %}